@{
    ViewBag.Title = "Beheerder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- 

ALLEEN beheerders mogen op deze pagina terecht komen.
1. Gebruikers die niet ingelogt zijn mogen hier nooit komen.
2. Mensen die ingelogt zijn mogen hier nooit komen, tenzij ze type "Beheerder" zijn.

-->
<h2>Beheerder</h2>
<header id="art-content-header">
</header>