@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
            <h2>Index</h2>
            <header id="art-content-header">
                </header>
            <div id="artikel-box-wrapper">
                <!-- TODO: MAKE THIS A FEATURE, ONLY TO CALL 4 TIMES.-->
                <div class="artikel-box">
                    <div class="artikel-foto">
                        <img class="boxModelFoto" src="http://avantisport.nl/image/product/none/Brunotti-Jethros-Women's-Jacket-112222520-000.jpg"/>
                    </div>
                    <div class="artikel-header">
                       Artikel Titel
                    </div>
                </div>
                <div class="artikel-box">
                    <div class="artikel-foto">
                        <img class="boxModelFoto" src="http://avantisport.nl/image/product/none/Brunotti-Jethros-Women's-Jacket-112222520-000.jpg" />
                    </div>
                    <div class="artikel-header">
                        Artikel titel
                    </div>
                </div>
                <div class="artikel-box">
                    <div class="artikel-foto">
                        <img class="boxModelFoto" src="http://avantisport.nl/image/product/none/Brunotti-Jethros-Women's-Jacket-112222520-000.jpg" />
                    </div>
                    <div class="artikel-header">
                        Artikel titel
                    </div>
                </div>
                <div class="artikel-box">
                    <div class="artikel-foto">
                        <img class="boxModelFoto" src="http://avantisport.nl/image/product/none/Brunotti-Jethros-Women's-Jacket-112222520-000.jpg" />
                    </div>
                    <div class="artikel-header">
                        Artikel titel 4
                    </div>
                </div>
            </div>
