@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Login</h2>
<header id="art-content-header">
</header>
<div class="myNameIsBoxxy">
    <input type="text" id="loginAccount" maxlength="25" placeholder="Account...">
        <div class="fieldName">
            Account</div>
    </input>
</div>
<div class="myNameIsBoxxy">
    <div class="fieldName">
        Wachtwoord</div>
    <input type="password" id="loginAccount" maxlength="25" placeholder="●●●●●●●●●●●">
</div>
<table class="boxButtonWrapper">
    <tr>
        <td>
            <div class="boxButton">
                Inloggen</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="boxButton">
                Registreren</div>
        </td>
    </tr>
</table>
