@{
    ViewBag.Title = "Registreren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registreren</h2>
<header id="art-content-header">
</header>

<div class="myNameIsBoxxy">
    <input type="text" id="loginAccount" maxlength="25" placeholder="Account...">
        <div class="fieldName">
            Account</div>
    </input>
</div>
<div class="myNameIsBoxxy">
    <div class="fieldName">
        Wachtwoord</div>
    <input type="password" id="loginAccount" maxlength="25" placeholder="●●●●●●●●●●●">
</div>

<div class="myNameIsBoxxy">
    <input type="text" id="loginAccount" maxlength="25" placeholder="Naam...">
        <div class="fieldName">
            Naam</div>
    </input>
</div>

<div class="myNameIsBoxxy">
    <input type="text" id="loginAccount" maxlength="25" placeholder="Tussenvoegsel...">
        <div class="fieldName">
            Tussenvoegsel</div>
    </input>
</div>

<div class="myNameIsBoxxy">
    <input type="text" id="loginAccount" maxlength="25" placeholder="Achternaam...">
        <div class="fieldName">
            Achternaam</div>
    </input>
</div>

<div class="myNameIsBoxxy">
    <input type="text" id="loginAccount" maxlength="25" placeholder="Email...">
        <div class="fieldName">
            Email</div>
    </input>
</div>

<div class="myNameIsBoxxy">
    <input type="text" id="loginAccount" maxlength="25" placeholder="Telefoonnummer...">
        <div class="fieldName">
            Telefoonnummer</div>
    </input>
</div>
<table class="boxButtonWrapper">
    <tr>
        <td>
            <div class="boxButton">
                Registreren</div>
        </td>
    </tr>
</table>