<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <h3>
                    Wie zijn wij?</h3>
                <img src="images/about_img.jpg" alt="Plaatje van Mijn Dieren Winkel Logo">
                <p>
                    mijdierenwinkel.nl is de online dierenwinkel van Nederland.

                    Deze  website heeft zich ten doel de beste producten te leveren op het gebied van verantwoord dierenbenodigdheden.
                    Mijndierenwinkel is de winkel die helpt te informeren zodat men de juiste keuzes maakt.</p>

                <h2>Garantie</h2>
                <p>
                    
                    U krijgt van ons de garantie, dat wij onze uiterste best zullen doen om problemen op te lossen.
                    Daarnaast heeft ieder artikel zijn eigen garantie, dit is uiteraard verschillend voor alle artikelen.
                    Uiteraard dient het artikel in onbeschadigde staat aan te komen, mocht dit niet het geval zijn dan graag direct melden.( zie ook leveringsvoorwaarden).
                    Koopt u bijvoorbeeld een Flexi hondenrollijn dan zit hier 2 jaar garantie op het oprolmechanisme.
                    Mocht deze eerder kapot gaan dan valt dat onder garantie.
                    Net als in onze `normale`winkels heeft u dan uw aankoopbewijs nodig.
                    U neemt eventjes contact op met onze klantenservice, wij vragen u dan (meestal)  het product met garantiebewijs naar ons op te sturen, waarna wij u vervolgens een nieuwe flexi sturen.
                    Afhankelijk van het product kan het zijn dat u een nieuwe krijgt of dat de bestaande gerepareerd wordt.
                    Uiteraard kunt u hiervoor ook in onze winkels terecht met het aankoopbewijs van dierenwinkel.com.
                    Door onze goede relatie met onze leveranciers (mede door onze winkels) kunnen wij garantiegevallen meestal erg snel oplossen.
                    Garantie beperkt zich tot vervangen of reparatie van het product, dierenwinkel.com is niet aansprakelijk voor eventuele vervolgschade`s.
                    Heeft u vragen over de garantie neem dan eventjes contact met ons op.
                    Tot slot nog even dit, alhoewel op al onze artikelen garantie zit is het uiteraard zo dat niet alles onder garantie valt.
                    Artikelen dienen op de manier gebruikt te worden waarvoor ze bedoeld zijn.
                    Als bijvoorbeeld de flexi lijn zelf kapot gebeten word door de hond zal dat niet onder garantie vallen.
                    Bijtschade`s vallen eigenlijk nooit onder de garantie.
                    Wij wensen u veel plezier met onze producten en hopen dat u de garantie nooit nodig heeft, maar in het geval dat het wel zo is dan staan we voor u klaar.
                    Team mijndierenwinkel.com
                </p>

                    
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>
                    Our History</h3>
                <div class="history-desc">
                    <div class="year">
                        <p>
                            1998 -</p>
                    </div>
                    <p class="history">
                        in 1998 hebben wij onze eerste Dierenwinkel geopend in Wezep.</p>
                    <div class="clear">
                    </div>
                </div>
                <div class="history-desc">
                    <div class="year">
                        <p>
                            2001 -</p>
                    </div>
                    <p class="history">
                        na 2001 hebbben wij winkels op meer dan 15 verschillende locaties in Nederland, Rotterdam, Amsterdam en Den Haag krijgen hun eigen winkel</p>
                    <div class="clear">
                    </div>
                </div>
                <div class="history-desc">
                    <div class="year">
                        <p>
                            2006 -</p>
                    </div>
                    <p class="history">
                        In 2006 hebben wij het keurmerk voor dierenwinkels ontvangen en zijn uitgeroepen tot beste dierenwinkel van Nederland</p>
                    <div class="clear">
                    </div>
                </div>
                <div class="history-desc">
                    <div class="year">
                        <p>
                            2010 -</p>
                    </div>
                    <p class="history">
                        Vanaf 2010 hebben wij een vaste afsrpaak met onze leveranciers en onze eerst winkel in België geopend.</p>
                    <div class="clear">
                    </div>
                </div>
                <div class="history-desc">
                    <div class="year">
                        <p>
                            2013 -</p>
                    </div>
                    <p class="history">
                        Vanaf 2013 zijn we bezig met het ontwikkelen van de website en de webshop van mijndierenwinkel.nl.</p>
                    <div class="clear">
                    </div>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>
                    Uw Huisdier op onze Facebook?</h3>
                <p>
                    Mail ons uw foto van uw huisdier en vertel er iets over, en binnenkort vindt u hem terug op onze website. En u maakt bovendien kans op een verrassingspakket voor uw huisdier !

                    NB ook graag erbij zetten wat voor dier / ras het is , we weten heel veel maar niet alles.

                    U kunt ons mailen op klantenservice@mijndierenwinkel.com of op een van onze facebookpagina`s kunt u hem delen</p>
  
                <p>
                    <h3>Extra Informatie levertijden</h3>
                <br />
                    Bij ieder artikel staat een levertijd. Voor artikelen die bij ons op voorraad zijn (de meeste) betekend dat wij ze na de betaling of dezelfde dag versturen of de volgende dag, afhankelijk van hoe laat u besteld.
                    Voor artikelen die bij ons even niet op voorraad zijn betekend dat wij ze binnen 2 tot 5 dagen geleverd krijgen en zullen we ze na binnenkomst ze direct versturen.
                    Is een artikel tijdelijk niet leverbaar of duurt het langer dan verwacht, sturen we u een mailtje waarin u of de mogelijkheid heeft even te wachten of u kunt u aankoopbedrag retourgestort krijgen.</p>
            </div>
        </div>
    </div>
</div>
