<div class="main">
    <div class="content">
        <div class="section group">
            <div class="grid_1_of_3 images_1_of_3">
                <img src="@Url.Content("~/Content/images/delivery.jpg")" alt="Levering" />
                <h3>
                    Levering
                </h3>
                <p>
                    Levering binnen 6-8 werkdagen
                    Alle mijndierenwinkel producten hebben een levertijd van 15-25 werkdagen voorafgaand aan aflevering ontvangt u per e-mail van UPS een trackingnummer waarmee u kunt zien op de site van UPS wanneer uw bestelling wordt afgeleverd.
                    Let op: de levertijd vanproducten in bijzondere kleuren is momenteel 25-35 werkdagen.
                    Levering op werkdagen (maandag t/m vrijdag)
</p>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="@Url.Content("~/Content/images/nergensgoedkoper.jpg")" alt="nergens goedkoper garantie!" />
                <h3>
                    Mijn dieren winkel Prijsgarantie
                </h3>
                <p>
                    Nergens goedkoper

                    Veel aanbieders in Dierenproducten claimen resoluut dat hun aanbod het goedkoopste is. 
                Mijndierenwinkel.nl is de enige aanbieder en producent van dierenproducten die u echt garandeert dat alle vergelijkbare producten nergens anders goedkoper worden aangeboden.
                 Zo bent u altijd verzekerd dat u nooit teveel betaalt voor kwalitatief zeer hoogstaande producten.</p>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="@Url.Content("~/Content/images/klachten.jpg")" alt="klachten en of opmerkingen." />
                <h3>
                    Klachten en of opmerkingen?
                </h3>
                <p>
                    Heeft u een vraag, opmerking, afwijking of een klacht?

                    Neem dan gerust contact op met de klantenservice van mijndierenwinkel, vermeld de volgende gegevens.

                    Probeer de klacht zo goed mogelijk te omschrijven
                    Probeer de klacht op foto’s vast te leggen en voeg deze toe als bijlage
                    Laat een telefoonnummer en naam achter waarop wij u kunnen bereiken.

                    Wij nemen binnen 4 werkdagen contact met u op om naar een oplossing te zoeken.
                    Reclamaties op producten dienen binnen 2 maanden te worden gemeld.
                    Indien u nog vragen heeft, dan is onze klantenservice tijdens kantooruren bereikbaar
                    op +31 (0)10 419 01 04.</p>
            </div>
        </div>
        <div class="faqs">
            <h2>
                Veel gevraagde vragen</h2>
            <div id="posts">
                <div class="tab bar">
                    <h4 class="post-title">
                        Wat doen wij met de waardering van klanten?</h4>
                </div>
                <div class="panel margin-lr-7">
                    <p>
                        Beoordelingen van klanten

                        Bij Decodeal staan kwaliteit en service voorop! 
                        Wij hechten veel waarde aan het verlenen van een uitstekende service
                     en doen er dan ook alles aan om onze klanten tevreden te stellen.
                     Wij zijn hierover zeer open en transparant. </p>
                </div>
                <div class="tab bar">
                    <h4 class="post-title">
                        Contact en klantenservice</h4>
                </div>
                <div class="panel margin-lr-7">
                    <p>
          
                        U kunt onze klantenservice per E-mail, telefoon, post of via onderstaand formulier bereiken.

                        De Decodeal klantenservice is op werkdagen tijdens kantooruren bereikbaar op
                        telefoonnummer +31 (0)10 419 01 04 en/of per mail via info@mijndierenwinkel.nl</p>
                </div>
                </div>
            </div>
        </div>
    </div>