<div class="main">
    <div class="content">
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/Content/images/kattenenting.jpg)" alt="Katten Inentenen?" />
            </div>
            <div class="grid news_desc">
                <h3>
                    Katten in
                </h3>
                <h4>
                    on 15 november 2013 in Columns, Columns, Evelien Bos, Katten, Uitgelicht <span><a href="#">Finibus Bonorum</a></span></h4>
                <p>
                    Is jouw kat gechipt? En – misschien nog wel belangrijker – is die chip geregistreerd?

                    Ik werk als vrijwilliger in een kattenasiel en een van de eerste dingen die wij doen als een kat binnenkomt (dat doet de dierenambulance trouwens ook), is de kat readeren. We zien dan vrij snel of de kat gechipt is en we hem of haar dan weer snel kunnen herenigen met de eigenaar.
                    Registratie bij een databank

                    Helaas gebeurt het maar al te vaak dat de kat wél gechipt is, maar dat de chip niet geregistreerd is.
                 En eigenlijk heb je dan het laten chippen voor niets gedaan.
                 De chip van de kat moet namelijk worden geregistreerd bij een databank.
                Er is een aantal verschillende databanken in Nederland waar je de chip van je huisdier kunt registreren.
                De meeste databanken hebben een eigen website waar je de registratie kunt regelen.</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur <a href="#" title="more">[....]</a></p>
            </div>
        </div>
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/Content/images/konijnwas.jpg)" alt="Konijn wassen?" />
            </div>
            <div class="grid news_desc">
                <h3>
                    Konijn wassen: zo doe je dat
                </h3>
                <h4>
                    on 21 november 2014 in Konijnen, Uitgelicht, Verzorging<span><a href="#">Finibus Bonorum</a></span></h4>
                <p>
                    Je konijn zorgt van nature goed voor zichzelf. Toch is het af en toe wel fris om je konijn een wasbeurt te geven. Zó doe je dat!

                    Heeft je konijn een huidaandoening? 
                Heeft hij in iets plakkerigs liggen rollen?
                 Je konijn wassen is dan een goed idee
                , maar let wel goed op welke producten je daarvoor gebruikt.
                 Je dierenarts kan je daarbij helpen: hij of zij heeft een shampoo speciaal voor konijnen. 
                Daarmee kan je eenvoudig aan de slag.</p>
                <p>
                    Zacht straaltje

                    Vul een teiltje voor de helft met lauwwarm water. 
                Zorg dat je twee handdoeken en de shampoo in de buurt hebt staan.
                 Maak je konijn met een zacht straaltje nat of schep wat water uit de teil over je bunny heen.
                 Probeer water in de ogen en oren te vermijden.
                 Neem daarna wat shampoo op je hand en wrijf het een beetje uit.
                 Verdeel de shampoo over de huid van je huisdier.
                 Let op: breng de shampoo niet direct vanuit de fles op het konijn aan,
                 het is namelijk best agressief spul en het kan eenvoudig gaan irriteren.
                <br />
                    Voorkom zoveel mogelijk contact met de kop. 
                Nadat je je konijn lekker hebt ingesopt, 
                is het tijd om alles weer uit te spoelen. 
                Rol je kleine vriend daarna in de handdoeken en wrijf ‘m droog. 
                Buitenkonijnen moeten even een dagje binnen blijven.
                    pariatur <a href="#" title="more">[....]</a></p>
            </div>
        </div>
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/Content/images/winterrust.jpg)" alt="Winterrust Luipaardgecko" />
            </div>
            <div class="grid news_desc">
                <h3>
                    Winterrust luipaardgekko
                </h3>
                <h4>
                    Posted on Aug 1st, 2013 by <span><a href="#">Finibus Bonorum</a></span></h4>
                <p>
                    De luipaardgekko

                    De luipaardgekko is tegenwoordig een populair huisdier. 
                In Amerika is de gekko inmiddels zelfs populairder dan de hamster.
                 Ze vergen wel de nodige aandacht, zijn dieet bestaat uit een afwisselende voeding
                 van vers water en vitamines. Verder is het belangrijk om ze veel calcium toe te dienen.
                 Dit kan door een calcium en mineralenpoeder uit te strooien over de voeding van de gekko.
                 De gekko is geen planteneter maar lust af en toe wel fruit.
                 Insecten die ze eten zijn onder andere krekels en kakkerlakken. 
                Wanneer de gekko uitgegeten is, is het noodzakelijk om de nog levende krekels en andere insecten uit de bak te halen,
                 om stress bij de gekko te voorkomen. Anders loopt u zelfs de kans dat uw gekko opgegeten wordt door de nog levende insecten!.</p>
                <p>
                    Een terrarium van een luipaardgekko heeft als gewenste afmetingen 80x40x50 cm.
                 Hierin kun je 4 luipaardgekko’s onderbrengen. 
                Verstandig is om niet meer luipaardgekko’s bij elkaar in 1 ruimte te stoppen.
                 Veel eigenaren van luipaardgekko’s beleven plezier aan het inrichten van het terrarium
                 van hun fraaie huisdier. 3 Eisen aan een terrarium zijn dat het onderkomen schoon
                 en droog is en dat er voldoende vochtige schuilplaatsen moeten zijn. 
                Verder is een goede nachttemperatuur 20 graden en de gemiddelde dagtemperatuur 35 graden.
                 Hiervoor kunt u onder andere gloeilampen en warmtestenen gebruiken. <a href="#" title="more">[....]</a></p>
            </div>
        </div>
        <div class="content-pagenation">
            <li><a href="#">Artikelen</a></li>
            <li class="active"><a href="#">Artikel Hondenopvang</a></li>
            <li><a href="#">Artikel Katteninenting</a></li>
            <li><a href="#">Artikel Dierenverzekering</a></li>
            <li><span>....</span></li>
            <li><a href="#">Laatste artikel</a></li>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
