@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>
<header id="art-content-header"></header>

<p>Wij proberen onze klanten op veel verschillende manieren te helpen bij de aanschaf van de gewenste producten. Wanneer u iets wil vragen of ons op de hoogte wil brengen van uw situatie, laat het dan aan ons weten via het medium van uw keuze. Wij zullen zo spoedig mogelijk contact met u opnemen om u verder te helpen.</p>
<h2>Adres</h2>
<p>IntoSport</p>
<p>IntoSportstraat 20</p>
<p>2999 DV Utrecht</p>

<h2>Email</h2>
<p>Intosport@intosport.nl</p>

<h2>Telefoon</h2>
<p>010 - 5191628</p>