@{
    ViewBag.Title = "OverOns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <img src="http://i.imgur.com/dJw0q6A.png" />
            <header id="art-content-header">
                </header>
                <div id="manager-left-content">
    
    </div>
    <div id="manager-right-content">
    
    </div>
            <div id="artikel-box-wrapper">

      <h2>Over ons</h2>
                <div><h3>Onze webwinkel</h3>
<p>IntoSport is een webwinkel die niet te vergelijken is met alle andere webwinkels. Bij IntoSport kun je bijna alle sportartikelen halen, van een golfbal tot aan een heel voetbalveld. <br /></br> <u> Bij IntoSport leveren wij producten aan iedereen die "Into Sport" is! </u></p>
<h3>De kernwaarden van IntoSport</h3>
<p><em>Diep vanbinnen heeft het bedrijf 7 kernwaarden. De volgende kernwaarden vormen de basis van ons bedrijf en zijn terug te vinden in onze manier van denken en doen</em></p>
<ol>
<li><strong>1. Klantvriendelijkheid</strong> - In 2010 heeft onze eerste winkel op de locatie in Bilthoven een prijs gewonnen voor beste sportwinkel in Utrecht. Ons personeel doet er alles aan om u als klant zo goed mogelijk te helpen en een compleet en eerlijk advies te geven. </li>
</br>
<li><strong>2. Expertise</strong> - De werknemers en werkgevers van IntoSport zijn gediplomeerd en sport is onze passie. Bij onze winkels vindt u geen werknemers die een simpel verkooppraatje aanhouden maar is er sprake van een professionele staff die alles weet van uw sport. Van de meest populaire tot de minder bekende sporten; al onze medewerkers zijn volledig bekwaam en hebben voldoende kennis over hun vakgebied .</li>
</br>
<li><strong>3. Inkoopbeleid</strong> - De producten die IntoSport levert zijn toegespitst op de specifieke wensen van de klant.</li>
</br>
<li><strong>Wij Onderscheiden onszelf door het kopen van sportartikelen in bijna alle mogelijke maten en of vormen</strong> - Doordat wij in grote aantalen producten inkopen en onze voorraad groot is kunnen wij het veroorloven om producten in te slaan van maten die minder populair zijn. Zoekt u bijvoobeeld voetbalschoenen maar heeft een bijzonderen schoenmaat? IntoSport kan bijna met zekerheid garanderen dat u de juiste sportschoenen kunt vinden en anders worden deze speciaal voor u besteld en op maat geleverd. </li>
</br>
<li><strong>4. Kwaliteit</strong> - De staat van de producten voldoet aan de hoogst mogelijke eisen van de medewerkers van de afdeling kwaliteitsgarantie</li>
</br>
<li><strong>De producten die IntoSport levert zijn toegespitst op de specifieke wensen van de klant.</strong> Ook krijgt de klant de producten zoals zijn zijn ingekocht en worden producten bij IntoSport alleen uit de verpakking gehaald om te controleren of deze voldioen aan de hoge standaard  van IntoSport</li>
</br>
<li><strong>5. Wij zijn open en eerlijk in onze communicatie</strong> - IntoSport is zo transparant als dat maar mogelijk is iin de communicatie met de klant. Voor bijna elke vraag kan de klant op lokatie of via het internet of de telefoon vragen, opmerkingen en mogelijke klachten delen en er wordt zo spoedig mogelijk gereageerd op enige op of aanmerkingen.</li>
</br>
<li><strong>6. Wij zijn betrokken bij de recente ontwikkelingen</strong> - IntoSport speelt in op de huidige en toekomstige ontwikkelingen in de sportwereld. Voor de klant betekend dit dat als er nieuwe producten worden ontwikkeld dan zullen wij proberen om deze zo spoedig mogelijk in te slaan.</li>
</br>
<li><strong>7. Maar boven alles zijn wij integer</strong> - Door onze hoge normen van klantvriendelijkeheid na te leven, het delen van onze expertise met klanten en medewerkers en onze focus op maarwerk; kunt u als klant gerust vertrouwen op IntoSport als u een product aanschaft.</li>
</ol>
</br>
<h3>Wat heeft IntoSport u te bieden?</h3>
<p>Onze klanten waarderen onze integriteit en betrokkenheid. Dat zit geborgd in de combinatie van onze werkwijze en cultuur. Omdat iedere organisatie anders is en alle sporten specifieke uitrusting nodig hebben, levert IntoSport altijd maatwerk.
<br /><br /> Dit begint met het samenstellen van het juiste team, omdat dienstverlening immers mensenwerk is en de wederzijdse 'klik' het begin van succes in een relatie. Onze werknemers zijn proactief, clientgericht en onze medewerkers beschikken over een uitstekende vaktechnische expertise.
<br /><br /> Daarnaast is IntoSport een actief deelnemer in nationale en internationale netwerken van bedrijven, sportverenigingen en sportwinkels. Hierdoor blijven wij op de hoogte van en denken mee over ontwikkelingen op ons vakgebied. Wij laten ons leiden door feiten en geven betrouwbaar en objectief hoogstaand sportadvies.
<br /><br /> Wij nemen altijd een duidelijke eindverantwoordelijkheid voor de kwaliteit van onze dienstverlening.
<br /> Want pas dan is sprake van 'waar voor uw geld'.</p>

<h3>Wat kunnen wij voor u betekenen?</h3>
<p>Wij kunnen u een groot aantal gestandaardiseerde diensten aanbieden, ondersteund door onze IT-applicatie. 
<br /><br />Deze stellen u in staat om op kleine of grote schaal producten van ons te bestellen. Ook kunt u op aanvraag een product dat tijdelijk niet meer in voorraad is aanvragen. 
<br /><br />Of u nu een product wilt ophalen of wilt laten bezorgen is voor ons geen probleem. 
<br /><br />Onze leveranciers komen op tijd op de afleverdatum.
<br /> Om uw product af te leveren en onze producten zijn altijd in de originele staat zoals deze worden ingekocht.
<br />
<br /><i> Heeft u echter toch een mankement dan kunt u kosteloos het gekochte product laten ophalen zolang u het aankoopbewijs nog heeft.</i></p></div>
<br /><br />
                </div>